repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort
        language: system
        types: [python]
        pass_filenames: true
      - id: yapf
        name: yapf
        entry: poetry run yapf -i
        language: system
        types: [python]
        pass_filenames: true
      - id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        types: [python]
        pass_filenames: true
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        pass_filenames: true
